/* 나눔 고딕 폰트 적용 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
    font-family:'Nanum Gothic', sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
section {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 7px;
    margin: 5px;
    padding: 15px;
}
h3 {
    font-size: 17px;
    font-weight: bold;
}
button {
    cursor: pointer;
}

/*왼쪽*/
#left{
    width: 40%;
    background-color: #f4f4f4;
}

.box{
    font-size: 16px;
    background-color: white;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin: 10px;
}

.container-message{
    position: relative;
    margin-bottom:13px;

    display: flex;
    justify-items: center;
}

#title,
#content{
    width: 100%;
    border-radius: 6px;
    font-size: 15px;
    border: 1px solid rgb(201, 201, 201);
    resize: none;
    padding: 7px;
    margin-bottom: 5px;
    overflow: hidden;
}
#title{
    padding-left: 10px;
    height: 34px;
}
#content{
    padding-left: 10px;
    height: 350px;
}
#title:focus,
#content:focus {
    outline: none;
    border-color: rgb(35, 35, 35);
    box-shadow: 0 0 5px rgba(137, 137, 137, 0.5);
}

/*글자수 계산*/
.char-count {
    position: absolute;
    right: 14px;
    bottom: -15px;
    font-size: 14px;
    color: rgb(150, 150, 150);
}

#container-image{
    width: 50%;
    height: 230px;
    margin: 10px;

    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(168, 168, 168, 0.5);
}
#generated-image{
    width: 60%;
    height: 55%;
    cursor: pointer;
}

/*이미지가 생성되고 난 후 크기 조절*/
#generated-image.generated{
    width: 90%;
    height: 90%;
}

/*오른쪽*/
#right {
    width: 60%;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.section_body {
    width: 550px;
    margin-top: 10px;
}
.section_short {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 13px 0;
    padding: 0 !important;
    flex-wrap: wrap;
}
.short_txt {
    font-size: 17px;
    color: #334155;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.section_number {
    display: flex;
    justify-content: space-between;
    align-items: stretch !important;
    margin: 0px;
    padding: 0px;
}
.item01 {
    flex-grow: 1;
    min-width: 90px;
    background: #f1f5f9;
    padding: 12px 40px 10px 10px;
    flex-wrap: wrap;
    border-radius: 4px;
    align-items: center !important;
    justify-content: space-between !important;
}
#sendCallerNumber {
    vertical-align: middle;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #334155;
}

#senderNum {
    margin-top: 0px;
    margin-bottom: 0px;
}
.getNum {
    color: #758398;
    height: 100%;
    font-size: 13px;
    padding: 6px 0.75em;
    display: flex;
    align-items: center !important;
    border: 1px solid #c7cacf;
    border-radius: 4px;
    background: #fff;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.addNumber {
    width: 550px;
    padding-right: 0px;
    box-sizing: border-box;
}
.addNumber .section_short {
    padding: 30px 0px 0 !important;
}
.contacts_box {
    display: flex;
    margin-top: 10px;
    align-items: flex-start;
}
.contacts_enter {
    position: relative;
    width: 220px;
    margin-right: 15px;
    padding: 15px;
    background: #f1f5f9;
    box-sizing: border-box;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts_enter p {
    font-size: 14px;
    color: #758398;
    margin: 0;
    margin-bottom: 12px;
    word-break: keep-all;
}
.item1 {
    position: relative;
    padding: 15px 10px;
    max-height: 220px;
    background: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    overflow-y: auto;
    overscroll-behavior: contain;
}
#contacts_list {
    min-height: 101px;
    color: #334155;
    font-size: 14px;
    font-family: pretendard, sans-serif;
    background: transparent;
    border: none;
    resize: none;
    outline: none;
    vertical-align: middle;
    font-weight: 500;
    box-sizing: border-box;

    width: 100%;
    height: 32px;
    overflow-y: hidden;
}
.item2 {
    margin-top: 20px;
}
.btn_d {
    display: flex;
    align-items: center !important;
    justify-content: center;
    color: #424242;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #424242;
    padding: 8px 15px;
    width: 100%;
}

.receiver{
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px 0;
}
.t_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.receiver_box {
    padding: 0 15px;
}
.btn_s_a {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    text-align: center;
    color: #758398;
    border: 1px solid #c7cacf;
    border-radius: 4px;
    background: #fff;
    padding: 5px .9em;
    word-break: keep-all;
}
.receiver_list {
    margin-top: 10px;
    max-height: 275px;
    overflow-y: auto;
    overscroll-behavior: contain;
}
.default_txt {
    padding: 45px 16px;
    text-align: center;
    justify-content: center;
    border-top: 1px solid #e4e4e7;
}
.default_txt p {
    color: #9ea3a7;
    padding-right: 0;
    font-size: 14px;
}
.list {
    display: none;

    align-items: center;
    justify-content: space-between;

    padding: 10px 0;
    border-bottom: 1px solid #e4e4e7;
    background: #fff;
    padding-left: 16px;
    padding-right: 6px;
}
.list:last-child {
    border-bottom: none;
}
.list p {
    color: #758398;
    padding-right: 10px;
    font-size: 14px;
}
.list button {
    flex-shrink: 0;
    padding: 6px 10px;
    border-radius: 4px;
    color: #c1c7cf;
    background: #fff;
    border: none;
}
.list button:hover {
    color: #758398;
    background: #f1f5f9;
}
.sendButton {
    margin-top: 140px;
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    cursor: pointer;

    background: #0055ff !important;
    border: none;
    color: #fff !important;
}