/* 전체적인 배치 */
*,
*::before,
*::after {
    box-sizing: border-box; /* 모든 요소의 크기를 패딩과 보더를 포함하여 계산 */
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 7px;
    margin: 5px;
    padding: 15px;
    overflow: hidden;
}

/* container */
.container {
    width: 100%;
    height: 630px;
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding: 20px; /* 내부 여백 추가 */
    overflow: hidden; /* 스크롤바가 나타나지 않도록 설정 */
    overflow-y: auto;

    display: flex; 
    gap: 7px;
    margin: 50px;
}

/* h3 태그 */
h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0.8em 0;
}

#left{
    width: 40%;
    position: relative;
}

#right{
    width: 80%;
    display: flex;
    align-content: center;
    gap: 20px;
}

/* 이미지 생성 담당하는 왼쪽 section */
#create-img label {
    display: inline-block;
    margin: 5px 0;
}


/* select 요소 스타일 */
select {
    width: 120px;
    height: 30px;
    margin-left: 5px;
}

/* 버튼 디자인 */
.button {
    background-color: #0055ff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px 5px 0 0;
    transition: background-color 0.3s;
    width: 140px; /* 버튼의 고정 너비 설정 */
}

/* 버튼 hover시 색 변화 */
.button:hover {
    background-color: #2890ff;
}

/* 키워드 입력창 디자인 */
.key-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    max-width: 100%; /* 최대 너비 설정 */
}

/* 키워드 태그 디자인 */
.key {
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 7px;
    margin: 3px;
    display: flex;
    align-items: center;
}

/* 입력한 키워드 텍스트 */
.key span {
    margin-right: 5px;
    font-size: 13px;
}

/* 키워드 삭제 버튼 */
.key button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 10px;
}

/* 키워드 입력 필드 */
#key-input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 15px;
    padding: 5px;
}

/* 이미지 생성 버튼을 오른쪽에 배치 */
.img-button {
    text-align: right;
}

#prompt-preview {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
    margin-top: 45px;

    width: 100%;
    height: 200px;
}
/* 프롬프트 미리보기 */
#generated-prompt {
    width: 90%; /* 좌우 여백 추가 */
    max-height: 70%; /* 높이 제한 */
    height: auto; /* 높이를 자동으로 설정 */
    background-color: aliceblue;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0.3px 0.3px 3px 3px lightgrey;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    font-size: 15px;
}
#make-button{
    position: absolute;
    right: 15px;
    bottom: 40px;
}

/* 이미지 미리보기 */
#image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* 생성된 이미지 스타일 */
#generated-image {
    max-width: none;
    min-width: auto;
}

.space{
    margin-top: 7px;
}


/* 새로운 스타일 추가: 버튼 사이의 div에 flexbox 사용 */
#container-btn {
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: 40px;
    right: 40px;
    padding-bottom: 10px;
}

/* QR 합성 버튼 hover시 색 변화 */
#combine-button:hover {
    background-color: #0058b7;
}

.container-modifying{
    display: flex;
}
