@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body{
    font-family:'Nanum Gothic', sans-serif;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 1200px;
    gap: 30px;
    margin: auto;
}
section {
    padding: 30px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}
h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0.8em;
    font-size: 20px;
    font-weight: bold;
}
.button:hover {
    background-color: #0058b7;
}

/*왼쪽*/
#left{
    flex: 2;
    background-color: #f2f2f2;
}
.resultTitle p{
    width: 300px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    background-color: white;
    padding: 8px;
    color: #575757;
}
.resultMessage p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    background-color: white;
    color: #575757;
}
.resultImg p{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    background-color: white;
}
.container-btncreateAI{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.btn-createAI{
    width: 130px;
    height: 40px;
    background-color:#1285ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

/*오른쪽*/
#right {
    flex: 2;
}

.sender {
    margin-bottom: 20px;
}

.senderText {
    width: 160px;
    padding: 10px;
    background-color: #f2f1f1;
    border: 2px solid #dedede;
    border-radius: 5px;
    font-size: 14px;
}

.receiver{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.addReceiver{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.receiverText {
    width: 160px;
    padding: 10px;
    background-color: #f2f1f1;
    border: 2px solid #dedede;
    border-radius: 5px;
    font-size: 14px;
}

.btn-addReceiver {
    align-content: center;
    width: 180px;
    height: 35px;
    background-color: white;
    color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
}

/* 수신자 리스트 */
.receiverList {
    width: 300px;
    height: 180px;
    background-color: #f2f1f1;
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    color: #575757;
}

.receiverList p{
    margin-top: 0;

}

.container-btnSendMessage{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.btnSendMessage {
    width: 400px;
    height: 40px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}